package page

import (
	"maxtrackr/src/model"
	"maxtrackr/src/view/layout"
)

templ Show(usr model.User) {
	@layout.Base() {
		<h1>hello from the homePage { usr.Name }</h1>
		<a href="">Login or Register </a>
	}
}
