package page

import "maxtrackr/src/model"
import "maxtrackr/src/view/layout"

templ ShowLoggedInPage(authedUser model.User) {
	@layout.Base() {
		<h2>You are now logged in </h2>
		<p>happy to have you here { authedUser.Name } </p>
		<a href="https://temptest.auth.ap-southeast-2.amazoncognito.com/logout?client_id=6brbkckkr5ckfdmipmftrb86nm&logout_uri=https%3A%2F%2Flocalhost%3A8080%2Floggedin">
			log out? 
		</a>
	}
}
