package page

import "maxtrackr/src/model"
import "maxtrackr/src/view/layout"

templ ShowLoggedOutPage(authedUser model.User) {
	@layout.Base() {
		<h2>You are now logged out </h2>
		<p>sad to have you leave</p>
	}
}
