package page

import "maxtrackr/src/model"
import "maxtrackr/src/view/layout"

templ ShowLoggedInPage(authedUser model.User) {
	@layout.Base() {
		<h2>You are now logged in </h2>
		<p>happy to have you here { authedUser.Name } </p>
		<a href="">
			log out? 
		</a>
	}
}
