package layout

templ Base() {
	<html>
		<head></head>
		<body>
			<h1>MaxTrackr</h1>
			// <a href="https://temptest.auth.ap-southeast-2.amazoncognito.com/login?client_id=6brbkckkr5ckfdmipmftrb86nm&response_type=token&scope=email+openid+phone&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Floggedin">Login or Register </a>
			This is base layout, 
			{ children... }
		</body>
	</html>
}
